bin/
data/results/*
sql/db-backup/*
src/CMakeCache.txt
src/CMakeFiles/
src/Makefile
src/build.info
src/cmake_install.cmake
src/exe/CMakeFiles/
src/exe/Makefile
src/exe/cmake_install.cmake
src/exe/prpld/CMakeFiles/
src/exe/prpld/Makefile
src/exe/prpld/cmake_install.cmake
src/exe/prpld/prpld.cbp
src/make.log
src/prpl.cbp
