#  Local .terraform directories
**/.terraform/*

# Terraform .tfstate files backup files
**/*.tfstate.backup

# Excluded items
_archive/
**/terraform.log
**/*.tfplan

*/secrets.yml

# Kube config files
*/kube_config_*.yaml

TODO.md