[Unit]
Description=ParkRunPointsLeague Jenkins Controller service
After=syslog.target network.target jenkins.mount

[Service]
Type=simple
User=jenkins
Group=jenkins
Restart=on-failure
RestartSec=30
WorkingDirectory=/var/lib/jenkins
#Environment="JENKINS_HOME=/var/lib/jenkins"
#Environment="JENKINS_JAVA_OPTIONS=-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false"
#Environment="JENKINS_USER=jenkins"
#Environment="JENKINS_PORT=8080"
#Environment="JENKINS_LISTEN_ADDRESS="
#Environment="JENKINS_HTTPS_PORT="
#Environment="JENKINS_HTTPS_KEYSTORE="
#Environment="JENKINS_HTTPS_KEYSTORE_PASSWORD="
#Environment="JENKINS_HTTPS_LISTEN_ADDRESS="
#Environment="JENKINS_HTTP2_PORT="
#Environment="JENKINS_HTTP2_LISTEN_ADDRESS="
#Environment="JENKINS_DEBUG_LEVEL=5"
#Environment="JENKINS_ENABLE_ACCESS_LOG=no"
#Environment="JENKINS_HANDLER_MAX=100"
#Environment="JENKINS_HANDLER_IDLE=20"
#Environment="JENKINS_EXTRA_LIB_FOLDER="
#Environment="JENKINS_ARGS= --prefix="
ExecStart=/var/lib/jenkins/jenkins-systemd-start.sh
TimeoutSec=600
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
